pip install --upgrade pip==22
pip install pandas
pip install scikit-learn
pip install scipy
pip install ujson
pip install h5py
pip install seaborn
pip install matplotlib
pip install torch==2.0.1
pip install torchaudio
pip install torchtext
pip install torchvision
pip install calmsize
pip install memory-profiler
pip install opacus
pip install portalocker
pip install cvxpy
